.slider {
    position: relative;
    width: 100%;
}

.slider__track,
.slider__range {
    position: absolute;
}

.slider__track,
.slider__range {
    border-radius: 3px;
    height: 4px;
}

.slider__track {
    @apply bg-gray-200;
    width: 100%;
    z-index: 1;
}

.slider__range {
    @apply bg-[#eeee];
    width: 100%;
    z-index: 2;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 100%;
    outline: none;
}

.thumbLeft {
    z-index: 3;
}

.thumbRight {
    z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
    background-color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
    border: 3px solid;
    @apply border-[#eee];
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}